header, main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

header {
    flex-direction: row;
}

#controls2 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

main {
    margin-top: 10px;
}

a {
    font-size: 20px;
}

#numbers div {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#numbers div:hover {
    background-color: darkgray;
}